# Hugo build output
public/
resources/
.hugo_build.lock

# Hugo server
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# exampleSite public output
exampleSite/public/
exampleSite/resources/
