<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {{- if .IsHome -}}
            {{ .Site.Title }}
        {{- else -}}
            {{ .Title }} | {{ .Site.Title }}
        {{- end -}}
    </title>
    <link rel="stylesheet" href="{{ "css/showcase.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" />
    {{ block "head_extra" . }}{{ end }}
</head>
<body class="{{ block "body_class" . }}{{ end }}">
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
</body>
</html>
